*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
