@use "sass:map";
@use "./colors" as *;
@use "./typography" as *;
@use "./sizes" as *;
@use "./breakpoints" as *;

$theme: $default;

// contextual
$color-text-default: $color-neutral-000;

// body
$body-font-family: $font-family-base;
$body-font-weight: $font-weight-default;
$body-font-size: $font-size-300;
$body-text-color: $color-neutral-000;
$body-line-height: 1.5;
$body-height: none;
$body-overflow: hidden;
$body-background-image: var(--background-image, "");
$body-background-repeat: no-repeat;
$body-background-position: center;
$body-background-size: cover;

// loading pages
$body-background-color: #1b1c21;
$loading-background-color: #aeaeae;
$loading-color: #999;

$margin-phone: $size-6;

// animation

@keyframes popupLoading {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(100%);
  }
}

@keyframes loading {
  0% {
    left: auto;
    right: 0;
    width: 100%;
  }
  100% {
    left: auto;
    right: 0;
    width: 0;
  }
}
