$-ff-sans: "Montserrat", sans-serif;

$font-family-base: $-ff-sans;

$font-sizes: (
  small: (
    900: 2.25rem,
    800: 2rem,
    700: 1.5rem,
    600: 1.5rem,
    500: 1rem,
    400: 0.875rem,
    300: 0.875rem,
    200: 0.825rem,
    100: 0.75rem,
  ),
  medium: (
    900: 3rem,
    800: 3rem,
    700: 2.25rem,
    600: 2.25rem,
    500: 1.25rem,
    400: 1rem,
    300: 1rem,
    100: 0.75rem,
  ),
  large: (
    900: 4.5rem,
    800: 4rem,
    700: 3rem,
    400: 1.25rem,
    100: 1rem,
  ),
);

$font-size-100: var(--fs-100);
$font-size-200: var(--fs-200);
$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-500: var(--fs-500);
$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);
$font-size-800: var(--fs-800);
$font-size-900: var(--fs-900);

$-fw-400: 400;
$-fw-500: 500;
$-fw-700: 700;

$font-weight-default: $-fw-400;
$font-weight-medium: $-fw-500;
$font-weight-bold: $-fw-700;
