@use "../abstracts/" as *;

.price {
  font-size: 1.25rem;
  width: max-content;
  position: relative;

  &.fw-bold {
    margin-top: var(--flow-spacer, clamp(4rem, 6vw, 5rem));
  }

  & > * {
    font-size: 0.75rem;
    font-style: italic;
    color: $color-accent-000;
    position: absolute;
    display: block;
    top: -0.5rem;
    right: -2.5rem;
    transform: rotate(20deg);
    cursor: pointer;
    // overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 45%;
      transform: translateY(-100%);
      transform-origin: left;
      width: 100%;
      animation: diskon 1.5s 5;
      height: 1px;
      background-color: $color-accent-000;
    }
    &:hover::after {
      animation: diskon 1.5s infinite;
    }
  }
}

@keyframes diskon {
  0% {
    transform: scaleX(0);
  }
  30% {
    transform: scaleX(0);
  }
  70% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
